:root {
  --background: #001122;
  --panels: #0b3b3c;
  --border: #00ffff80;
  --text: #e6f2f7;
  --text-secondary: #758da3;
  --accent: #00ffff;
  --online: #78b159;
  --warning: #ffd166;
  --error: #dd2e44;
  --radius: 0.5rem;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: system-ui, "Segoe UI", sans-serif;
}

button,
input {
  font: inherit;
}

.title {
  font-family: "Orbitron", sans-serif;
}

.app-shell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  padding: 0.5em 1em;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 24px;
}

.content-shell {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 1em;
}

.panel {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--panels);
}

.side-panel {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.side-panel-title {
  color: var(--accent);
}

.main-panel {
  position: relative;
  padding: 0.5rem 0.1rem;
  /* "radial-gradient(circle,rgba(64, 142, 173, 1) 0%, rgba(24, 71, 89, 1) 84%)", */
}
